<div  class="container">
  <h3 style="text-align:center">
    Welcome to Quiz Application &#x263A;
  </h3>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">Choose Option &#x263A; </h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <div class="row justify-content-md-center">
        <div class="col-sm-12 col-lg-3">
          <button class="btn btn-block btn-outline-primary cursor-restriction" style="margin-top: 24px;">
            Add Questions </button>

        </div>
        <div class="col-sm-12 col-lg-3">
          <button class="btn btn-block btn-outline-primary cursor-restriction" style="margin-top: 24px;" (click)="startQuiz()">
            Start Quiz </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" [hidden]="isQuestionCardShow">
    <div class="card-body">
      <div *ngFor="let ques of allQuestions">
        <div>{{ques.question}}</div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Choose Correct Option</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="ques.id" value="ques.a" [(ngModel)]="ques.selected">
                <label class="form-check-label" >a) {{ques.a}} </label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="ques.id" value="ques.b" [(ngModel)]="ques.selected">
                <label class="form-check-label" >b){{ques.b}}</label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>